.wrapper {
  margin: 160px auto 60px;
}

.title {
  margin-bottom: 100px;
}

.content {
  display: flex;
}

.img {
  min-width: 620px;
  border: 1px solid var(--porcelain);
  margin-left: 63px;
  border-radius: 10px;
}
