@import '~@santiment-network/ui/mixins';
@import '~@santiment-network/ui/variables';

.wrapper {
  background: $mirage;
  border: 1px solid $cloud-burst;
  box-sizing: border-box;
  box-shadow: 0px 6px 16px rgba(21, 24, 31, 0.7);
  border-radius: 4px;
  @include text('caption');
  padding: 16px 18px;
  width: 201px;
  position: absolute;

  @include responsive('tablet', 'phone', 'phone-xs') {
    display: none;
  }
}

.top {
  display: flex;
  justify-content: space-between;
  margin: 0 0 7px;
}

.date {
  color: $bali-hai;
  @include text('caption');
}

.value {
  color: $mystic;
}

.label {
  margin: 4px 0 0 8px;
  color: $waterloo;
}
