@import '~@santiment-network/ui/mixins';
@import '~@santiment-network/ui/variables';

.window {
  position: relative;
  border: 1px solid var(--porcelain);
  border-radius: 10px;
  padding: 15px 14px 0;
  overflow: hidden;
  margin: 0 0 0 62px;
  min-width: 620px;
  height: 300px;
  background: var(--white);

  grid-row-start: 1;
  grid-row-end: 5;
  grid-column: 2;

  &.inverse {
    margin: 0 62px 0 0;
    grid-column: 1;
  }

  @include responsive('tablet', 'phone', 'phone-xs') {
    margin: 0 0 32px !important;
  }
}

.wrapper {
  @include responsive('desktop', 'laptop') {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto 1fr;
  }
}

.product {
  @include text('body-3');
  color: var(--casper);
}

.title {
  margin: 8px 0 16px;
}

.links {
  margin: 24px 0 0;
  color: var(--jungle-green);
}

.link {
  margin: 0 0 0 20px;

  &:first-child {
    margin: 0;
  }

  &::after {
    content: '|';
    margin: 0 0 0 20px;
  }

  &:last-child::after {
    content: '';
  }
}
