@import '~@santiment-network/ui/mixins';
@import '~@santiment-network/ui/variables';

.window {
  position: relative;
  border: 1px solid var(--porcelain);
  border-radius: 10px;
  padding: 15px 14px 0;
  overflow: hidden;
  margin: 0 0 0 62px;
  min-width: 620px;
}

.wrapper {
  display: flex;

  &.inverse {
    flex-direction: row-reverse;

    .window {
      margin: 0 62px 0 0;
    }
  }
}

.product {
  @include text('body-3');
  color: var(--casper);
}

.title {
  margin: 8px 0 16px;
}

.links {
  margin: 24px 0 0;
  color: var(--jungle-green);
}

.link {
}
