@import '~@santiment-network/ui/mixins.scss';
@import '~@santiment-network/ui/variables.scss';

.header {
  display: flex;
  padding: 14px 0;
  user-select: none;
  border-bottom: 1px solid $fiord;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.nav {
  max-width: 1140px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  width: 100%;
  margin: 0 auto;

  @include responsive('tablet', 'phone', 'phone-xs') {
    justify-content: center;
  }
}

.link {
  @include text('body-3');
  color: $mystic;
  margin-right: 40px;
}

.devcon {
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
  background: linear-gradient(
    90deg,
    #faa39f -14.43%,
    #ffb297 22.1%,
    #c7e977 50.15%,
    #83dffa 76.25%,
    #9eafeb 103%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 18px;
}

.left {
  display: flex;
  align-items: center;
}

.right {
  @include responsive('tablet', 'phone', 'phone-xs') {
    display: none;
  }
}
