@import '~@santiment-network/ui/mixins.scss';
@import '~@santiment-network/ui/variables.scss';

.header {
  display: flex;
  padding: 14px 0;
  user-select: none;
  border-bottom: 1px solid $fiord;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  @include responsive('tablet') {
    max-width: 768px;
  }

  @include responsive('phone', 'phone-xs') {
    width: 100%;
    padding: 20px 15px;
  }
}

.nav {
  max-width: 1140px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  width: 100%;
  margin: 0 auto;

  @include responsive('phone', 'phone-xs') {
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.9);
    flex-direction: column;
    align-items: center;
    justify-content: center;

    :global(#hamburger):checked + & {
      display: flex;
    }
  }
}

.link {
  @include text('body-3');
  color: $mystic;
  margin-right: 40px;
}

.devcon {
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
  background: linear-gradient(
    90deg,
    #faa39f -14.43%,
    #ffb297 22.1%,
    #c7e977 50.15%,
    #83dffa 76.25%,
    #9eafeb 103%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 18px;
}

.left {
  display: flex;
  align-items: center;
}
