.wrapper {
  margin: 0;
  background: var(--athens);
  padding: 100px 0 80px;
  max-width: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.trends {
  margin-bottom: 80px;
}

.img {
  margin: -14px;
}
